/* Imported Work Sans Font From Google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Shared Styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}
.btn{
    padding: 14px;
    border: none;
    background-color: #FF900E;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
/* Header Styles */
header{
    background-color: #ff8f0e21;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 25px;
    font-weight: bold;
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1em;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-container{
    margin-top: 90px;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 3em;
    color: #131313;
}
.banner-description{
    margin: 20px 0px;
    color: #727272;
}
.banner-img{
    margin-top: 20px;
    width: 100%;
}

/* Main Styles */
main{
    width: 75%;
    margin: 100px auto;
}
.teams-container{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding: 0px 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-description{
    margin: 20px 0px;
    color: #727272;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .feature{
    color: #FF900E;
    font-weight: 800;
}

/* Features Section */

/* Feature End */

/* Facts Start */
.facts-cart-container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.facts-cart{
    text-align: center;
    border: 1px solid #FF900E;
    width: 20%;
    text-align: center;
    border-radius: 8px;
    padding: 80px 20px;
}
.card-title{
    font-size: 2.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: #727272; */
}
.card-desc{
    font-size: 1.5em;
}
.facts-title{
    font-size: 1.8em;
    margin-bottom: 20px;
}
.facts-description{
    color: #727272;
}
/* responsive media */
/* mobile */
@media screen  and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-cart-container{
        flex-direction: column;
    }
    .facts-cart{
        padding: 80px 113px;
    }
    nav > ul{
        margin-top: 30px;
        margin-bottom: -40px;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
   
}
/* tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    nav{
        flex-direction: column;
    }
    nav > ul{
        margin-top: 30px;
        margin-bottom: -40px;
    }
}
