/* Imported Work Sans Font From Google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* For All */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}
/* Header Styles */
header{
    background-color: #ff8f0e21;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1em;
}
nav li a{
    text-decoration: none;
    color: #424242;
}